
<% if current_user == nil %>
  <div class="container">
    <div style="height: 100px;">
    </div>
    
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card" style="height: 500px;">
          <div class="card-title">
          </div>
          
          <div class="card-body" align="center">
            <div style="height: 50px;">
            </div>
            
            <div>
              <i class="fas fa-calculator fa-10x"></i>
            </div>
            
            <div style="height: 100px;">
            </div>
            
            <div>
              <a href="/users/sign_in/" class="btn btn-primary btn-block" align="bottom">
                
                  Inicia sesión para empezar a ejercitar
              </a>
            </div>
            <div>
              <a href="/users/sign_up/" class="btn btn-warning btn-block" align="bottom">
                
                  ...O crea una cuenta nueva para empezar!
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div style="height: 50px;"> </div>

    <% Tema.all.each do |tema| %>
    
      <div class="row">
        <div class="col-md-12">
          <div class="card border-warning mb-3">
            <h6 class="card-header text-white bg-warning mb-3"> <i class="fa fa-futbol fa-1x" style="color:warning"></i> <a href="/ejercitar/com_especifico/<%= tema.contenidos.sort.first.id %>"> <%= tema.nombre %>, <%= tema.contenidos.last.materia.descripcion %>  </a></h6>
            
            <div class="card-body" align="left" style="font-size:90%;">
              
                    <list>
                      <% Contenido.where(tema_id: tema.id).each do |cont| %>
                        <li>  <%= cont.nombre %> </li>
                      <% end %>
                    </list>
              
            </div>
          </div>
        </div>
      </div>
    <% end%>
  </div>
  
<% end %>