<!-- Validation failure messages -->
<% if @asignacion.present? %>
  <% if @asignacion.errors.any? %>
    <% @asignacion.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new asignacion
</h1>

<hr>

<form action="/create_asignacion" method="post">
  <!-- Label and input for test_id -->
  <div class="form-group">
    <label for="test_id">
      Test
    </label>

    <input type="text" id="test_id" name="test_id" class="form-control" value="<%= @asignacion.try(:test_id) %>">
  </div>

  <!-- Label and input for sala_id -->
  <div class="form-group">
    <label for="sala_id">
      Sala
    </label>

    <input type="text" id="sala_id" name="sala_id" class="form-control" value="<%= @asignacion.try(:sala_id) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create asignacion
  </button>
</form>

<hr>

<a href="/asignacions">
  Go back
</a>
