/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

.logo{
    width: 100%;
}

.btn-primary{
    background-color: #3F74BA;
    border-color: #3F74BA;
}

.btn-primary:hover{
    background-color: #7399CC;
    border-color: #7399CC;
}

.btn-warning{
    background-color: #E3D888;
    border-color: #E3D888;
}

.btn-success{
    background-color: #0FA3B1;
    border-color: #0FA3B1;
}

.btn-secondary{
    background-color: #E3D888;
    border-color: #E3D888;
}

.border-secondary{
    border-color: #0FA3B1 !important;
}

.bg-secondary{
    background-color: #0FA3B1 !important;
}

.border-primary{
    border-color: #3F74BA !important;
}

.bg-primary{
    background-color: #3F74BA !important;
}

.border-success{
    border-color: #0FA3B1 !important;
}

.bg-success{
    background-color: #0FA3B1 !important;
}

.border-warning{
    border-color: #E3D888 !important;
}

.bg-warning{
    background-color: #E3D888 !important;
}

.card-header a{
    color: white !important;
}